---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Thank You! - Abdalrahman Midani">
  <main class="min-h-screen flex items-center justify-center px-4">
    <div class="text-center max-w-2xl mx-auto">
      <div class="mb-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-24 h-24 mx-auto text-[var(--sec)]"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
            clip-rule="evenodd"
          />
        </svg>
      </div>

      <h1 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-4">
        Thank You!
      </h1>

      <p class="text-lg text-[var(--white-icon)] mb-8">
        Your message has been sent successfully. I'll get back to you as soon as possible.
      </p>

      <div class="space-y-4">
        <a
          href="/"
          class="inline-flex items-center gap-2 px-6 py-3 bg-[var(--white-icon-tr)] text-[var(--white)] rounded-xl border border-[var(--white-icon-tr)] hover:bg-[#1414149c] transition-all"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M9 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-3 3a9 9 0 0 0 2.218 6.72l1.219-1.219a1 1 0 0 1 1.414 1.414l-2.828 2.828a1 1 0 1 1-1.414-1.414l1.219-1.219A9 9 0 1 0 6 12a1 1 0 1 1 2 0 7 7 0 1 1 14 0 1 1 0 1 1-2 0Z"
              clip-rule="evenodd"
            />
          </svg>
          Back to Home
        </a>
      </div>

      <div class="mt-12 pt-8 border-t border-[#ffffff10]">
        <p class="text-sm text-[var(--white-icon)] mb-4">Or reach me directly:</p>
        <div class="flex justify-center gap-4">
          <a
            href="https://www.linkedin.com/in/abdalrahman-midani/"
            target="_blank"
            class="text-[var(--white-icon)] hover:text-[var(--sec)] transition-colors"
          >
            LinkedIn
          </a>
          <a
            href="https://gitlab.com/abdmidani"
            target="_blank"
            class="text-[var(--white-icon)] hover:text-[var(--sec)] transition-colors"
          >
            GitLab
          </a>
          <a
            href="mailto:aboodmidani0@gmail.com"
            class="text-[var(--white-icon)] hover:text-[var(--sec)] transition-colors"
          >
            Email
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
