---
import EducationData from "./education.astro";
import CertificatesData from "./certificates.astro";
import LanguagesData from "./languages.astro";
import AwardsData from "./awards.astro";
---

<section id="background" class="text-[var(--white)]">
  <EducationData />
  <CertificatesData />
  <LanguagesData />
  <AwardsData />
</section>
